<div class="card">
    <div class="card-header bordered">
        <div class="header-block">
            <h3 class="title">Добавити подію</h3>
        </div>
    </div>
    <div class="card-block">
        <div class="alert aletr-{{message.type}}" *ngIf="message.text">{{message.text}}</div>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label class="control-label" for="category">Виберіть категорію</label>
                <select class="form-control" id="category" required [ngModel]="1" name="category">
                    <option *ngFor="let c of categories" [value]="c.id" >{{c.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Виберіть тип</label>
                <div  *ngFor="let t of types">
                    <label>
                        <input class="radio" name="type" type="radio" [value]="t.type" required [ngModel]="'outcome'">
                        <span>{{t.label}}</span>
                    </label>
                </div>
                
            </div>
            <div class="form-group" [ngClass]="{'has-error': amount.invalid && amount.touched}">
                <label class="control-label" for="amount">Введіть суму</label>
                <input type="number" id="amount" class="form-control" name="amount" [ngModel]="1" min="1" #amount="ngModel">
                <span class="form-help-text" *ngIf="amount.invalid && amount.touched" required>Потрібно заповнити поле</span>
            </div>
            <div class="form-group" [ngClass]="{'has-error': description.invalid && description.touched}">
                <label class="control-label" for="description">Введіть опис</label>
                <input type="text" id="description" class="form-control" name="description" ngModel #description="ngModel">
                <span class="form-help-text" *ngIf="description.invalid && description.touched" required>Потрібно заповнити поле</span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Добавити</button>
        </form>
    </div>
</div>