
    <div class="title-block">
        <h3 class="title pull-left">
            Сторінка історії <span class="sparkline bar"></span>
        </h3>
        <div class="pull-right">
            <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
              <i class="fa fa-filter"></i>
            </button>
        </div>
    </div>
    <div *ngIf="!isLoaded1&&!isLoaded2">Loading...</div>
    <div *ngIf="isLoaded1&&isLoaded2">
            <wfm-history-chart [data]="chartData"></wfm-history-chart>

            <wfm-history-events 
            [categories]="categories"
            [events]="filteredEvents"></wfm-history-events>
            <div *ngIf="isFilterVisible">
                <wfm-history-filer
                    (onFilterApply)="onFilterApply($event)"
                    (onFilterCancel)="onFilterCancel()"
                    [categories]="categories"
                ></wfm-history-filer>
            </div>
            
    </div>
    
  
    